<% title "#{@camera.name}" %>

<script type="text/javascript">
var imageRoller = new ImageRoller(<%= (@camera.refresh_rate != nil && @camera.refresh_rate > 0) ? @camera.refresh_rate : 2000 %>);
</script>
<div id="vs_image_roller_box" class="vs_image_roller_box">
<img id="vs_image_roller" class="vs_image_roller" 
     src='<%= "#{@camera.ftp_userid}/current" %>' onLoad='imageRoller.start(this)'/>
</div>

<p><%= link_to "Info", @camera %>|<%= link_to "View All", cameras_path %></p>